@font-face {
    font-family: 'Bungee Shade', cursive;
    font-family: 'Tulpen One', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Tulpen+One&display=swap);
}

body {
    background-color:black;
    width: 100%;
    position:relative;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(255, 255, 255, 0.123);
    display: block;
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
    padding: 0;
    opacity: 0.8;
    width: 100vw;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 5px;
    color: white;
    display: inline-flex;
    font-weight: 800;
    height: 50px;
    margin: 0;
    transition-duration: 0.4s;
    text-transform: uppercase;
    padding: 15px;
}

.home {
    margin-left: 0;
}

#logo {
    color: #ffffff;
    display: inline-flex;
    font-family: 'Tulpen One', cursive;
    font-size: 20px;
    text-align: left;
    padding-right: 920px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    border-radius: 0;
}